@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    left: 50px;

}

.logo::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #1D2122;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar {
    overflow: hidden;
}

.navbar a {
    font-size: 14px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    transition: .3s;
}

.navbar .icon {
    display: none;
}

.navbar a:hover,
.navbar a.active {
    color: yellowgreen;
    font-size: 18px;
}

.home {
    background: url('background.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;

}

.home-content {
    max-width: 49%;

}

.home-content h1 {
    position: relative;
    font-size: 55px;
    font-weight: 700;
    line-height: 1.25;
}

.home-content h1::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #1D2122;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: yellowgreen;
}

.home-content h3::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #1D2122;
    animation: showRight 1s ease forwards;
    animation-delay: 1.2s;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content p::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #1D2122;
    animation: showRight 1s ease forwards;
    animation-delay: 1.5s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #1D2122;
    animation: showRight 1s ease forwards;
    animation-delay: 1.8s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: yellowgreen;
    border: 2px solid yellowgreen;
    border-radius: 8px;
    font-size: 19px;
    color: #1D2122;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .3s;

}

.btn-box a:hover {
    color: yellowgreen;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: yellowgreen;

}

.btn-box a:nth-child(2):hover {
    color: #1D2122;

}

.btn-box a:nth-child(2)::before {
    background: yellowgreen;

}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: #000;
    z-index: -1;
    transition: .3s;


}

.btn-box a:hover::before {
    width: 100%;

}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;

}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    text-decoration: none;
    height: 40px;
    border: 2px solid yellowgreen;
    background: transparent;
    border-radius: 50%;
    color: yellowgreen;
    font-size: 20px;
    z-index: 1;
    overflow: hidden;
    transition: 1s;

}

.home-sci a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: yellowgreen;
    z-index: -1;
    transition: .3s ease-in-out cubic-bezier(1, 0, 0, 1);
}

.home-sci a:hover {
    color: #000;
    scale: 1.3;
    border: 1px dotted yellowgreen;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 0px;
    width: 30%;
    height: 100%;
    background: transparent;
    z-index: 1;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;

}

.home-imgHover:hover {
    background: #1D2122;
    opacity: 0.5;

}

.home-imgHover::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #1D2122;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 100;
}

/* media queries */

@media only screen and (max-width: 600px) {
    .navbar a {
        display: none;
        font-size: 55%;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }

    .navbar a.active,
    .navbar a:hover {
        color: yellowgreen;
        font-size: 70%;

    }

    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .logo,
    .home-content h1,
    .home-content h3,
    .home-content p {
        font-size: 55%;
    }

    .logo {
        left: 8%;
    }

    .home-content .btn-box {
        width: 55%;
        height: 55%;
    }

    .btn-box a,
    .btn-box a:nth-child(2) {
        font-size: 55%;

    }
}

@media only screen and (min-width: 600px) and (max-width: 765px) {
    .navbar a {
        display: none;
        font-size: 65%;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }

    .navbar a.active,
    .navbar a:hover {
        color: yellowgreen;
        font-size: 80%;

    }

    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .logo,
    .home-content h1,
    .home-content h3,
    .home-content p {
        font-size: 65%;
    }

    .logo {
        left: 8%;
    }

    .home-content .btn-box {
        width: 65%;
        height: 65%;
    }

    .btn-box a,
    .btn-box a:nth-child(2) {
        font-size: 65%;

    }
}

@media only screen and (min-width: 768px) {
    
}
@media only screen and (min-width: 992px) {
   
}

/* KEYFRAMES */
@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}